:root {
  --bg: #233445;
  --fg: #abbccd;
  --kl: rgba(255, 255, 255, 0.1);
}

html,
body {
  background: var(--bg);
  color: var(--fg);
  height: 100%;
  display: grid;
  font-family: monospace;
}

#app {
  margin: auto;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
}

.row {
  display: flex;
}

.Counter__Buttons {
  display: flex;
}

.Counter__Button {
  color: var(--fg);
  background: transparent;
  border: 2px solid currentColor;
  border-radius: 3px;
  font-size: 13px;
  line-height: 32px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 21px;
  font-family: inherit;
}

.Counter__Button + .Counter__Button {
  margin-left: 8px;
}

.Counter {
  margin-right: 13px;
}

.Counter + .Counter {
  margin-left: 13px;
  border-left: 1px dashed var(--kl);
  padding-left: 13px;
}
